{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid p-5" style="background-color: #efce03">
  <h1 class="text-center" style="color: #2c4361">ABOUT US</h1>
</div>
<div class="container mt-5">
  <div class="row align-items-start">
    <p class="about-us-text">
      We at SANAR CONSTRUCTIONS having more than 7 years of construction
      experience. In past 7 years we have constructed many residential and
      commercial sites in Faridabad and Gurgaon. Because of our quality work
      today we are well known name in civil Construction Company in Gurgaon &
      Faridabad. Our focused area is all HUDA sectors and colonies of Faridabad
      and Gurgaon, where we have delivered more than 50 projects. We have
      concentrated on improving qualities and services as we keep in mind that
      “Our Customer will received only the best“. That’s explaining why we
      proved only high skilled workers to be our essential factor. We are
      continuously improving our management and administration system in which
      are we committed to become leader in the interior decoration and
      construction business in Northern India in the nearest future. We have
      concentrated on improving qualities and services as we keep in mind that
      “Our Customer will received only the best“. That’s explaining why we
      proved only high skilled workers to be our essential factor.
    </p>
  </div>
</div>

<div class="container text-center">
  <div class="p-5">
    <h3 class="heading-ad-para">LEADING CONSTRUCTION COMPANY IN DELHI & NCR</h3>
    <hr class="ms-5 me-5" style="color: #efce03; height: 3px" />
    <p class="ads-paragraph">
      Sanar Construction are today well-known Construction company in Delhi NCR.
      We are serving our clients in Faridabad, Delhi & Gurgaon since year 2014.
      In past 7 years we have delivered many residential, commercial and farm
      house projects in this area. As a leading construction company, we are
      very much capable to handle any kind of construction work with zero
      quality issue and on time delivery. So if you are looking for a good
      partner for your dream house or office construction work please look our
      profile once. We master in with material house construction with superb
      quality material. Its starts from 1650/ Sqft. All things will be finalized
      on paper with brands and we assure you we never compromise with quality.
    </p>
  </div>
</div>
{% endblock content %}
