{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid p-5" style="background-color: #efce03">
    <h1 class="text-center" style="color: #2c4361">GALLERY</h1>
</div>
<!-------------------------GALLERY SECTION----------------->
<!-- Gallery -->
<div class="row m-5 border border-light" style="margin-right: 0px">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/comp_pics.png' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/1.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/2.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/3.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/4.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/5.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/6.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/7.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/8.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/9.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/10.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/11.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/12.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/13.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/14.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/15.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/16.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/17.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/18.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/19.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/20.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/21.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/22.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/23.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/24.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/25.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/26.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/27.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/28.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/29.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/30.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/31.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/32.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/33.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/34.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/35.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/36.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/37.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/38.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/39.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/40.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/41.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/42.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/43.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="{% static 'images/SanarConstPics/44.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water" />

        <img src="{% static 'images/SanarConstPics/7.jpeg' %}" class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape" />
    </div>
</div>
<!-- Gallery -->
<!---------------------------END OF GALLERY---------------->
{% endblock content %}