{% extends 'base.html' %} {% load static %} {% block content %}
<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/1.png' %}" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/2.png' %}" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/3.png' %}" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/4.png' %}" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block"></div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-------------------END OF SLIDER------------------------->

<div class="container mt-5">
  <div class="row align-items-start">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img
        src="{% static 'images/about_us_img.png' %}"
        class="img-fluid"
        alt="..."
      />
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <p class="about-us-text">
        We at SANAR CONSTRUCTIONS having more than 7 years of construction
        experience. In past 7 years we have constructed many residential and
        commercial sites in Faridabad and Gurgaon. Because of our quality work
        today we are well known name in civil Construction Company in Gurgaon &
        Faridabad. We have concentrated on improving qualities and services as
        we keep in mind that “Our Customer will received only the best“. That’s
        explaining why we proved only high skilled workers to be our essential
        factor. We are continuously improving our management and administration
        system in which are we committed to become leader in the interior
        decoration and construction business in Northern India in the nearest
        future. We have concentrated on improving qualities and services as we
        keep in mind that “Our Customer will received only the best“. That’s
        explaining why we proved only high skilled workers to be our essential
        factor.
      </p>
    </div>
  </div>
</div>
<!-------------------------END OF ABOUT US------------------------>
<div class="container-fluid mt-5 container-services">
  <div class="row pb-5">
    <h3 class="text-center p-5 service-heading">WHOM WE SERVE</h3>
    <div class="col-sm-4">
      <div class="card">
        <img
          src="{% static 'images/icon_const.png' %}"
          class="card-img-top w-100"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            The owner who want to construct their vacant plot in Delhi NCR.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img
          src="{% static 'images/house_icon.png' %}"
          class="card-img-top w-100"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Owners in Delhi NCR looking to demolish and rebuild their homes.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img
          src="{% static 'images/window.png' %}"
          class="card-img-top w-100"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            We are provide premium quality interior decoration services to our
            client along with construction.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------------END OF SERVICES------------------->
<div class="container text-center">
  <div class="p-5">
    <h3 class="heading-ad-para">LEADING CONSTRUCTION COMPANY IN DELHI & NCR</h3>
    <hr class="ms-5 me-5" style="color: #efce03; height: 3px" />
    <p class="ads-paragraph">
      Sanar Construction are today well-known Construction company in Delhi NCR.
      We are serving our clients in Faridabad, Delhi & Gurgaon since year 2014.
      In past 7 years we have delivered many residential, commercial and farm
      house projects in this area. As a leading construction company, we are
      very much capable to handle any kind of construction work with zero
      quality issue and on time delivery. So if you are looking for a good
      partner for your dream house or office construction work please look our
      profile once. We master in with material house construction with superb
      quality material. All things will be finalized on paper with brands and we
      assure you we never compromise with quality.
    </p>
  </div>
</div>
<!-------------END OF ADS PARAGRAPH------------------------>
<div class="container-fluid focus-on p-5">
  <div class="row text-center">
    <h3 class="p-3" style="color: #335076">WE FOCUS ON</h3>
  </div>
  <div class="row">
    <div class="col-sm">
      <img src="{% static 'images/cust_1.png' %}" class="w-100" alt="..." />
    </div>
    <div class="col-sm">
      <img src="{% static 'images/cust_2.png' %}" class="w-100" alt="..." />
    </div>
    <div class="col-sm">
      <img src="{% static 'images/cust_3.png' %}" class="w-100" alt="..." />
    </div>
    <div class="col-sm">
      <img src="{% static 'images/cust_4.png' %}" class="w-100" alt="..." />
    </div>
  </div>
</div>
<!-------------------------END OF FOCUS SECTION--------------------->

<!-------------------------GALLERY SECTION----------------->
<!-- Gallery -->
<div class="row m-5 border border-light" style="margin-right: 0px">
  <h3 class="text-center p-3">GALLERY</h3>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="{% static 'images/FB_IMG_1644224283861.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="{% static 'images/FB_IMG_1643870907449.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'images/IMG_20200827_104223.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="{% static 'images/IMG-20220203-WA0013.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'images/FB_IMG_1644224329750.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
    <img
      src="{% static 'images/IMG-20220203-WA0006.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>

  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="{% static 'images/IMG-20220203-WA0012.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="{% static 'images/IMG_20210621_162614605_HDR.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'images/IMG_20210623_095713728_HDR-1.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="{% static 'images/FB_IMG_1644224399749.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'images/IMG-20220203-WA0011.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
    <img
      src="{% static 'images/IMG-20220203-WA0007.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->
<!---------------------------END OF GALLERY---------------->
{% endblock content %}
