{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid p-5" style="background-color: #efce03">
  <h1 class="text-center" style="color: #2c4361">OUR SERVICES</h1>
</div>
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/construction_img_1.jpg' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">House Construction</h5>
              <p class="card-text">
                We are offering to our valued customers a supreme quality range
                of Home Construction Services.Sanar Construction, a building or
                house construction company, provides end to end house
                construction services for individual buildings in Delhi NCR.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/IMG-20220203-WA0007.jpg' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">House Renovation</h5>
              <p class="card-text">
                Best home renovators in Delhi NCR reach us for complete solution
                of interior and construction. Sanar Construction is a team of
                professional expert in interior solution, designing & execution.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/FB_IMG_1643870165233.jpg' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">House Interioirs</h5>
              <p class="card-text">
                Hiring an interior designer for your new home is extremely
                challenging as you need to consider your home renovation needs,
                budget, theme, and everything to get the relevant services.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/IMG_20201028_104945574.jpg' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Painting Work</h5>
              <p class="card-text">
                If you are about to paint your house, you have to consider the
                rudimentary things and the idea of painting. You may think of
                painting your house by yourself, but the interior and exterior
                painting require perfection in every aspect and is a
                time-consuming process.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/FB_IMG_1644224370232.jpg' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">False Ceiling</h5>
              <p class="card-text">
                With the years of experience, we are involved providing False
                Ceilings Services in Faridabad, Haryana, India. These service
                are highly demanded in various offices, commercial and
                industrial sectors
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/FB_IMG_1643870716289.jpg' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Wooden Work</h5>
              <p class="card-text">
                We provide all kind of wood work services , We provide our
                clients with various carpentry services like kitchen cabinet,
                modular kitchen, wardrobe, wood doors and other wood works.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/plumbing_work.jpg' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Plumbing Work</h5>
              <p class="card-text">
                Sanar Construction will help you in taking away the pain of
                finding the trusted plumber to cater to your needs, right at the
                comfort of your home. with reasonable pricing.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/water_proofing.jpg' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Water Proofing</h5>
              <p class="card-text">
                We provide excellent waterproofing solutions & services for all
                spaces like homes, apartments, singles houses, and commercial
                spaces like malls. Our high-quality waterproof paint for walls
                ensures that your structure can endure the pressure for long
                periods of time.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/stone_work.jpg' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Tiles & Granite Stone Work</h5>
              <p class="card-text">
                We provide all types of tiles & stone fixing services and Civil
                work services such as – Tiles fixing, tiles laying, tiles
                fitting, tiles cladding, stone fixing, marble fixing, Granite
                fixing, Italian marble fixing, stone cladding, marble cladding
                contractor, flooring tiles contractor, Brick work contractor,
                Plastering contractor, Building construction work, wooden
                flooring services, wooden tiles cladding, wall tile, Floor tile,
                ceramic, Vitrified tiles.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{% static 'images/glass_cleaning.jpg' %}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Glass cleaning of buildings</h5>
              <p class="card-text">
                Like the maintenance of interior, we also maintain the exterior
                of the buildings and organizations. We provide facade cleaning
                services in which we completely clean the facade and exterior of
                the buildings of hotels
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
